<!--=======  breadcrumb area =======-->
	<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title"></h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="index.html">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">PRODUCTOS</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->


<div class="shop-page-wrapper">
        <%= render "layouts/header_search" %>

		<div class="shop-page-content mt-100 mb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 order-2 order-lg-1 d-none">
						<!--=======  page sidebar  =======-->

						<div class="page-sidebar">
							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<!--=======  search widget  =======-->

								<div class="search-widget">
									<form action="#">
										<input type="search" placeholder="Search products ...">
										<button type="button"><i class="ion-android-search"></i></button>
									</form>
								</div>

								<!--=======  End of search widget  =======-->
							</div>


							<!--=======  End of single sidebarwidget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">CategoriAS</h2>
								<ul class="single-sidebar-widget--list single-sidebar-widget--list--category">
									<li class="has-children">
										<a href="shop-left-sidebar.html">Cosmetic </a> <span class="quantity">5</span>
										<ul>
											<li><a href="shop-left-sidebar.html">For body</a></li>
											<li><a href="shop-left-sidebar.html">Make up</a></li>
											<li><a href="shop-left-sidebar.html">New</a></li>
											<li><a href="shop-left-sidebar.html">Perfumes</a></li>
										</ul>
									<a href="#" class="expand-icon">+</a></li>
									<li class="has-children">
										<a href="shop-left-sidebar.html">Furniture </a> <span class="quantity">23</span>
										<ul>
											<li><a href="shop-left-sidebar.html">Sofas</a></li>
											<li><a href="shop-left-sidebar.html">Armchairs</a></li>
											<li><a href="shop-left-sidebar.html">Desk Chairs</a></li>
											<li><a href="shop-left-sidebar.html">Dining Chairs</a></li>
										</ul>
									<a href="#" class="expand-icon">+</a></li>
									<li><a href="shop-left-sidebar.html">Watches </a> <span class="quantity">12</span></li>
									<li><a href="shop-left-sidebar.html">Bags </a> <span class="quantity">22</span></li>
									<li><a href="shop-left-sidebar.html">Uncategorized </a> <span class="quantity">14</span></li>
								</ul>
							</div>

							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">Pesquisa</h2>
								<div class="sidebar-price">
									<div id="price-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
									<div class="output-wrapper mt-20">
										<input type="text" id="price-amount" class="price-amount" readonly="">
										<a class="price-range-button" href="#"><i class="ion-android-funnel"></i> Filter</a>
									</div>
								</div>
							</div>

							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">Productos Populares</h2>

								<!--=======  widget product wrapper  =======-->

								<div class="widget-product-wrapper">
									<!--=======  single widget product  =======-->
									<div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<!--=======  image  =======-->

											<div class="single-widget-product__image">
												<a href="shop-product-basic.html">
													<img src="assets/images/products/product-furniture-2-100x100.jpg" class="img-fluid" alt="">
												</a>
											</div>

											<!--=======  End of image  =======-->

											<!--=======  content  =======-->

											<div class="single-widget-product__content">

												<div class="single-widget-product__content__top">
													<h3 class="product-title"><a href="shop-product-basic.html">Wooden Table</a></h3>
													<div class="price">
														<span class="main-price discounted">$270.00</span>
														<span class="discounted-price">$220.00</span>
													</div>
													<div class="rating">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star-outline"></i>
														<i class="ion-android-star-outline"></i>
														<i class="ion-android-star-outline"></i>
													</div>
												</div>

											</div>

											<!--=======  End of content  =======-->
										</div>
									</div>

									<!--=======  End of single widget product  =======-->

									<!--=======  single widget product  =======-->
									<div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<!--=======  image  =======-->

											<div class="single-widget-product__image">
												<a href="shop-product-basic.html">
													<img src="assets/images/products/product-furniture-11-100x100.jpg" class="img-fluid" alt="">
												</a>
											</div>

											<!--=======  End of image  =======-->

											<!--=======  content  =======-->

											<div class="single-widget-product__content">

												<div class="single-widget-product__content__top">
													<h3 class="product-title"><a href="shop-product-basic.html">Sofa with cushion</a></h3>
													<div class="price">
														<span class="main-price discounted">$660.00</span>
														<span class="discounted-price">$600.00</span>
													</div>
													<div class="rating">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
													</div>
												</div>



											</div>

											<!--=======  End of content  =======-->
										</div>
									</div>

									<!--=======  End of single widget product  =======-->

									<!--=======  single widget product  =======-->
									<div class="single-widget-product-wrapper">
										<div class="single-widget-product">
											<!--=======  image  =======-->

											<div class="single-widget-product__image">
												<a href="shop-product-basic.html">
													<img src="assets/images/products/soccer-4-100x100.jpg" class="img-fluid" alt="">
												</a>
											</div>

											<!--=======  End of image  =======-->

											<!--=======  content  =======-->

											<div class="single-widget-product__content">

												<div class="single-widget-product__content__top">
													<h3 class="product-title"><a href="shop-product-basic.html">High waist trousers</a></h3>
													<div class="price">
														<span class="main-price discounted">$36.00</span>
														<span class="discounted-price">$33.00</span>
													</div>
													<div class="rating">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star-outline"></i>
													</div>
												</div>


											</div>

											<!--=======  End of content  =======-->
										</div>
									</div>
									<!--=======  End of single widget product  =======-->
								</div>

								<!--=======  End of widget product wrapper  =======-->
							</div>

							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget">
								<h2 class="single-sidebar-widget--title">Tags</h2>

								<div class="tag-container">
									<a href="#">bags</a>
									<a href="#">chair</a>
									<a href="#">clock</a>
									<a href="#">comestic</a>
									<a href="#">fashion</a>
									<a href="#">furniture</a>
									<a href="#">holder</a>
									<a href="#">mask</a>
									<a href="#">men</a>
									<a href="#">oil</a>
								</div>
							</div>

							<!--=======  End of single sidebar widget  =======-->
						</div>

						<!--=======  End of page sidebar  =======-->
					</div>
					<div class="col-lg-12 order-1 order-lg-2 mb-md-80 mb-sm-80">

						<div class="row product-isotope shop-product-wrap four-column">

							<!--=======  single product  =======-->
                        <% @products.each do |product| %>
							<div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale">
								<div class="single-product">
									<!--=======  single product image  =======-->

									<div class="single-product__image">
										<a class="image-wrap" href="/roupas/detalhes/<%= product.id %>">
                                        
                                                <img src="<%= product.product_images.first.image %>" class="img-menu" alt="">
                                                <img src="<%= product.product_images.last.image %>" class="img-menu" alt="">
                                            
                                        </a>
									


									</div>

									<!--=======  End of single product image  =======-->

									<!--=======  single product content  =======-->

									<div class="single-product__content">
										<div class="single-product__variations">
											<div class="size-container mb-5">
												<span class="size">L</span>
												<span class="size">M</span>
												<span class="size">S</span>
												<span class="size">XS</span>
											</div>
											<div class="color-container">
												<span class="black"></span>
												<span class="blue"></span>
												<span class="yellow"></span>
											</div>
											<!-- <a href="#" class="clear-link">clear</a> -->
										</div>
										<div class="title">
											<h3> <a href="shop-product-basic.html"></a><%= product.title %></h3>
										</div>
										<div class="price">
											<span class="main-price discounted"><%= product.price_current %></span>
											<span class="discounted-price"><%= product.price %>€</span>
										</div>
									</div>

									<!--=======  End of single product content  =======-->
								</div>

							</div>
                        <% end%>
						</div>

						<div class="row">
							<div class="col-lg-12 text-center mt-30">
								<a class="lezada-button lezada-button--medium lezada-button--icon--left" href="#"><i class="ion-android-add"></i> MAIS</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!--=====  End of shop page content  ======-->
	</div>