	<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Shop</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="/">HOME</a></li>
						<li class="breadcrumb-list__item"><a href="roupas/vestidos">SHOP</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">SHOP PRODUCT</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>
<div class="shop-page-wrapper mt-100 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  shop product content  =======-->

					<div class="shop-product">
						<div class="row pb-100">
							<div class="col-lg-6 mb-md-70 mb-sm-70">
								<!--=======  shop product big image gallery  =======-->

								<div class="shop-product__big-image-gallery-wrapper mb-30">

									<!--=======  shop product gallery icons  =======-->

									<div class="single-product__floating-badges single-product__floating-badges--shop-product">
										<span class="hot">hot</span>
									</div>


									<div class="shop-product-rightside-icons">
										<span class="wishlist-icon">
											<a href="#" data-tippy="Add to wishlist" data-tippy-placement="left" data-tippy-inertia="true"
												data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder"><i class="ion-android-favorite-outline"></i></a>
										</span>
										<span class="enlarge-icon">
											<a class="btn-zoom-popup" href="#" data-tippy="Click to enlarge" data-tippy-placement="left"
												data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
												data-tippy-arrow="true" data-tippy-theme="sharpborder"><i class="ion-android-expand"></i></a>
										</span>
									</div>

									<!--=======  End of shop product gallery icons  =======-->

									<div class="shop-product__big-image-gallery-slider">

										<!--=======  single image  =======-->

										<div class="single-image">
										<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                     
											<div class="carousel-inner">
												<%i =0%>
												<% status =""%>
											<% @product.product_images.each do |image|%>
												
												<% if i== 0 then%>
												<% status ="active"%>
												<% end%>
												<div class="carousel-item <%= status %>">
												<img class="d-block w-100" height="700" weight="300" src="<%= image.image %>" alt="First slide">
												</div>
												<% i = 1%>
												<% status =""%>
											<% end%>
											</div>
											<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
												<span class="carousel-control-prev-icon" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
												<span class="carousel-control-next-icon" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
											</div>
										
                  						</div>


										<!--=======  End of single image  =======-->

										<!--=======  single image  =======-->

										

										<!--=======  End of single image  =======-->
									</div>

								</div>

								<!--=======  End of shop product big image gallery  =======-->

								<!--=======  shop product small image gallery  =======-->
								

								<!--=======  End of shop product small image gallery  =======-->
							</div>

							<div class="col-lg-6">
								<!--=======  shop product description  =======-->

								<div class="shop-product__description">
									<!--=======  shop product navigation  =======-->

					

									<!--=======  End of shop product navigation  =======-->

									<!--=======  shop product rating  =======-->

									<div class="shop-product__rating mb-15">
										<span class="product-rating">
											<i class="active ion-android-star"></i>
											<i class="active ion-android-star"></i>
											<i class="active ion-android-star"></i>
											<i class="active ion-android-star"></i>
											<i class="ion-android-star-outline"></i>
										</span>

										<span class="review-link ml-20">
											<a href="#">(3 customer reviews)</a>
										</span>
									</div>

									<!--=======  End of shop product rating  =======-->

									<!--=======  shop product title  =======-->

									<div class="shop-product__title mb-15">
										<h2><%= @product.title%></h2>
									</div>

									<!--=======  End of shop product title  =======-->

									<!--=======  shop product price  =======-->

									<div class="shop-product__price mb-30">
										<span class="discounted-price"><%= @product.price%>€</span>
									</div>

									<!--=======  End of shop product price  =======-->

									<!--=======  shop product short description  =======-->

									<div class="shop-product__short-desc mb-50">
										<%= @product.description %>
									</div>

									<!--=======  End of shop product short description  =======-->

									<!--=======  shop product size block  =======-->

									<div class="shop-product__block shop-product__block--size mb-20">
										<div class="shop-product__block__title">Size: </div>
										<div class="shop-product__block__value">
											<div class="shop-product-size-list">
											<%@product_sizes.each do |s| %>
												<span class="single-size"><%= s.size.name %></span>
                  							<% end %>
											  </div>
										</div>
									</div>

									<!--=======  End of shop product size block  =======-->

									<!--=======  shop product color block  =======-->

									<div class="shop-product__block shop-product__block--color mb-20">
										<div class="shop-product__block__title">Color: </div>
										<div class="shop-product__block__value">
											<div class="shop-product-color-list">

												<ul class="single-filter-widget--list single-filter-widget--list--color">
													<%@product_colors.each do |c| %>
														<li class="mb-0 pt-0 pb-0 mr-10"><a class="active" href="#"><span class="color-picker <%= c.color.codigo %>"></span></a></li>
                  									<% end %>
												</ul>
											</div>
										</div>
									</div>

									<!--=======  End of shop product color block  =======-->

									<!--=======  shop product quantity block  =======-->

									

									<!--=======  End of shop product quantity block  =======-->

									<!--=======  shop product buttons  =======-->

									

									<!--=======  End of shop product buttons  =======-->

									<!--=======  shop product brands  =======-->

									

									<!--=======  End of shop product brands  =======-->

									<!--=======  other info table  =======-->

									<div class="quick-view-other-info pb-0">
										<table>
											<tbody><tr class="single-info">
												<td class="quickview-title">Código: </td>
												<td class="quickview-value"><%= @product.id %></td>
											</tr>
											
											<tr class="single-info">
												<td class="quickview-title">Share on: </td>
												<td class="quickview-value">
													<ul class="quickview-social-icons">
													 <li><a href="https://www.facebook.com/Dive-Fashion-110178697918789"> <i class="fa fa-facebook"></i> Facebook</a></li>
													<li><a href="https://www.instagram.com/dive_fashion_lisboa/?hl=en"><i class="fa fa-instagram"></i> Instagram</a></li>
													<li><a href="https://www.youtube.com/channel/UCBfI0--qUgZ83CSEOorJVNA"> <i class="fa fa-youtube"></i> Youtube</a></li>
													
															</ul>
												</td>
											</tr>
										</tbody></table>
									</div>

									<!--=======  End of other info table  =======-->
								</div>

								<!--=======  End of shop product description  =======-->
							</div>
						</div>

					</div>

					<!--=======  End of shop product content  =======-->
				</div>
			</div>
		</div>
	</div>

	<div class="warning-msg">
        <div class="notification">
            <div class="info">
                <span></span>
                <p>Tem perguntas? Podemos ajudar.</p>
                <a href="sms://968161822" class="button">SMS</a><a href="tel://968161822" class="button gray">Ligar</a>
            </div>
        </div>
   </div>