<!--=============================================
	=            Header overlay menu         =
	=============================================-->

  <header class="header header-nontransparent-overlay-menu border-bottom-0 header-sticky">

    <!--=======  header bottom  =======-->

    <div class="header-bottom pt-40 pb-40">
      <div class="container wide">
<!--=======  overlay-navigation-menu  =======-->

 <%= render "layouts/header_two" %>

  <!--=======  End of overlay-navigation-menu  =======-->

        <!--=======  header bottom container  =======-->

        <div class="header-bottom-container">

          <!--=======  logo with off canvas  =======-->

          <div class="logo-with-offcanvas d-flex">

            <!--=======  overlay menu icon  =======-->

            <div class="overlay-menu-icon mr-20 d-none d-lg-block">
              <a href="javascript:void(0)" id="overlay-menu-icon">
                <i class="ion-navicon"></i>
              </a>
            </div>

            <!--=======  End of overlay menu icon  =======-->


          </div>

          <!--=======  End of logo with off canvas  =======-->

         

          <!--=======  logo   =======-->

          <div class="logo">
            <a href="/">
              <img src="/assets/img/logo.png" class="img-fluid" style="width:150px;height:50px;" alt="">
            </a>
          </div>

          <!--=======  End of logo   =======-->

          <!--=======  headeer right container  =======-->

          <div class="header-right-container">

            <!--=======  header right icons  =======-->

            <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
             
             
              <!--=======  single-icon  =======-->

              <div class="single-icon wishlist">
                <a href="tel://968161822">
                  <img src="/assets/img/logo/logow.png" alt="Girl in a jacket" width="50" height="45">
                  <button type="button" class="btn btn-outline-info">Tele: 968161822</button>
                  
                </a>
              </div>
              

              <!--=======  End of single-icon  =======-->
              
            </div>
            <!--=======  End of header right icons  =======-->

          </div>

          <!--=======  End of headeer right container  =======-->


        </div>

        <!--=======  End of header bottom container  =======-->

        <!-- Mobile Navigation Start Here -->

        <div class="site-mobile-navigation d-block d-lg-none">
          <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
            <!--Site Mobile Menu Toggle Start-->
            <button class="dl-trigger hamburger hamburger--spin">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <!--Site Mobile Menu Toggle End-->
            <ul class="dl-menu dl-menu-toggle">
              <li class=""><a href="#">NEW</a>
                <ul class="dl-submenu">
                  <li><a href="/roupas/vestidos">MULHER</a></li>
              <li><a href="/roupas/0">CRIANÇAS</a></li>
                </ul>
              </li>
              <li class="">
              <a href="#" style="color:red;">SPECIAL PRICES</a>
                <ul class="dl-submenu">
                    <% @root_categories.each do |category|%>
                    <li class=""><a href="/roupas/desconto/<%= category.id %>"><%= category.title %></a>
                    </li>
                    <% end -%>
                </ul>
              </li>

          <% @root_categories.each do |category| %>
            <li class=""><a href="/roupas/<%= category.id %>"><%= category.title %></a>
              <ul class="dl-submenu">
                <% category.children.each do |sub_category| %>
                  <li class="has-children-submenu"> <a href="/roupas/<%= sub_category.id %>"><%= sub_category.title %></a></li>
                <% end -%>
              </ul>
            </li>
          <% end -%>
              
              <li class=""><a href="#">MAIS INFORMAÇÕES</a>
                <ul class="dl-submenu">
                  <li><li><%= link_to "QUEM SOMOS", home_about_path%></li></li>
                  <li class="has-children-submenu"><%= link_to "CONTACTOS", home_contact_path%>
                </ul>
                
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Navigation End Here -->


      </div>
    </div>

    <!--=======  End of header bottom  =======-->
  </header>

  <!--===== End of Header overlay menu ======-->
