		<!--=======  shop page header  =======-->

		<div class="shop-page-header">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
						<!--=======  fitler titles  =======-->
						<div class="filter-title filter-title--type-two">
							<ul class="product-filter-menu">
								<li class="active" data-filter="*">All</li>
								<li data-filter=".new">novos productos</li>
								<li data-filter=".sale">productos em descontos</li>
							</ul>
						</div>
						<!--=======  End of fitler titles  =======-->
					</div>

					<div class="col-12 col-lg-5 col-md-2">
						<!--=======  filter icons  =======-->

						<div class="filter-icons">
							<!--=======  filter dropdown  ==F=====-->

							<div class="single-icon filter-dropdown">
								<select class="nice-select" style="display: none;">
									<option value="0">Default sorting</option>
									<option value="1">Sort ny popularity</option>
									<option value="0">Sort by average rating</option>
									<option value="0">Sort by latest</option>
									<option value="0">Sort by price: low to high</option>
									<option value="0">Sort by price: high to low</option>
								</select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="0" class="option selected">Default sorting</li><li data-value="1" class="option">Sort ny popularity</li><li data-value="0" class="option">Sort by average rating</li><li data-value="0" class="option">Sort by latest</li><li data-value="0" class="option">Sort by price: low to high</li><li data-value="0" class="option">Sort by price: high to low</li></ul></div>
							</div>

							<!--=======  End of filter dropdown  =======-->

							<!--=======  grid icons  =======-->

							<div class="single-icon grid-icons">
								<a data-target="five-column" href="javascript:void(0)"><i class="ti-layout-grid4-alt"></i></a>
								<a data-target="four-column" class="active" href="javascript:void(0)"><i class="ti-layout-grid3-alt"></i></a>
								<a data-target="three-column" href="javascript:void(0)"><i class="ti-layout-grid2-alt"></i></a>
								<a data-target="list" href="javascript:void(0)"><i class="ti-view-list"></i></a>
							</div>

							<!--=======  End of grid icons  =======-->

							<!--=======  advance filter icon  =======-->

							<div class="single-icon advance-filter-icon">
								<a href="javascript:void(0)" id="advance-filter-active-btn"><i class="ion-android-funnel"></i>
									Filtro</a>
							</div>

							<!--=======  End of advance filter icon  =======-->
						</div>

						<!--=======  End of filter icons  =======-->
					</div>

				</div>
			</div>
		</div>

		<!--=======  End of shop page header  =======-->

		<!--=============================================
        =            shop advance filter area         =
        =============================================-->

		<div class="shop-advance-filter-area" id="shop-advance-filter-area">
			<div class="shop-advance-filter-wrapper pt-50">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">NEW</h2>
								<ul class="single-filter-widget--list">
								<li><a href="/roupas/vestidos">MULHER</a></li>
              <li><a href="/roupas/0">CRIANÇAS</a></li>
       	
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">SPECIAL PRICES</h2>
								<ul class="single-filter-widget--list">
								<% @root_categories.each do |category|%>
									<li class="has-children">
											<a href="/roupas/desconto/<%= category.id %>"><%= category.title %></a>
									</li>
              					<% end -%>
       	
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">MULHER</h2>
								<ul class="single-filter-widget--list">
									<% @root_categories.each do |category| %>
										<% if(category.id==1) %>
									<li class="has-children"><a href="/roupas/<%= category.id %>"></a>
									
									
									<ul class="sub-menu">
									
									<% category.children.each do |sub_category| %>
										
										<li class="has-children-submenu"> <a href="/roupas/<%= sub_category.id %>"><%= sub_category.title %></a></li>
										
									<% end -%>
									<% end -%>
									</ul>
									</li>
								<% end -%>
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">CRIANÇAS</h2>
								<% @root_categories.each do |category| %>
								<ul class="single-filter-widget--list">
									
										<% if(category.id==4) %>
									<li class="has-children"><a href="/roupas/<%= category.id %>"></a></li>
									
									
									<ul class="sub-menu">
									
									<% category.children.each do |sub_category| %>
										
										<li class="has-children-submenu"> <a href="/roupas/<%= sub_category.id %>"><%= sub_category.title %></a></li>
										
									<% end -%>
									<% end -%>
									</ul>
									</li>
								
								</ul>
								<% end -%>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

									<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">MAIS INFORMAÇÕES</h2>
								<ul class="single-filter-widget--list">
								<li><li><%= link_to "QUEM SOMOS", home_about_path%></li></li>
              <li class="has-children-submenu"><%= link_to "CONTACTOS", home_contact_path%>
          
								</ul>
							</div>
							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

									<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">MAIS INFORMAÇÕES</h2>
								<ul class="single-filter-widget--list">
								<li><a href="https://www.facebook.com/Dive-Fashion-110178697918789"> <i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/dive_fashion_lisboa/?hl=en"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCBfI0--qUgZ83CSEOorJVNA"> <i class="fa fa-youtube"></i> Youtube</a></li>
              
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--=====  End of shop advance filter area  ======-->

		<!--=============================================
		=            shop page content         =
		=============================================-->
