<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
  <head>
    
    <title>My Diva Fashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/icon/vestir.png">
  <meta name="description" content="">

  <!-- CSS
	============================================ -->
  <!-- Bootstrap CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- FontAwesome CSS -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

  <!-- Ionicons CSS -->
  <link href="/assets/css/ionicons.min.css" rel="stylesheet">

  <!-- Themify CSS -->
  <link href="/assets/css/themify-icons.css" rel="stylesheet">

  <!-- Plugins CSS -->
  <link href="/assets/css/plugins.css" rel="stylesheet">

  <!-- Helper CSS -->
  <link href="/assets/css/helper.css" rel="stylesheet">

  <!-- Main CSS -->
  <link href="/assets/css/main.css" rel="stylesheet">


  <!-- Modernizer JS -->
  <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

  <%= javascript_include_tag params[:controller] %>

   <% javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="no-js">
  
    <div class="login-area mb-130 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
		<div class="container">
			<div class="row">
      <div class="col-lg-3 mb-md-50 mb-sm-50">
      </div>
				<div class="col-lg-6 mb-md-50 mb-sm-50">
					<div class="lezada-form login-form">
            <%= yield %>
					</div>
				</div>

			</div>
		</div>
	</div>
    

  <!--=====  End of quick view  ======-->

  <!-- scroll to top  -->
  <a href="#" class="scroll-top"></a>
  <!-- end of scroll to top -->

  <!-- JS
	============================================ -->
  <!-- jQuery JS -->
  <script src="/assets/js/vendor/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="/assets/js/popper.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- Plugins JS -->
  <script src="/assets/js/plugins.js"></script>

  <!-- Main JS -->
  <script src="/assets/js/main.js"></script>


  <!-- Revolution Slider JS -->
  <script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="/assets/revolution/revolution-active.js"></script>

  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript"
    src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

  </body>
</html>
